@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit, sans-serif;
}

body{ 
  background-color: hsl(212, 45%, 89%);
  padding-top: 60px;
  padding-bottom: 60px;

}

p{
  width: 300px;
}

.container{
  height: 550px;
  width: 350px;
  background-color:  hsl(0, 0%, 100%);
  border-radius: 25px;
  margin: auto;
}

.qrImageContainer{
  width: 350px;
  padding: 20px;
}

img{
  width: 100%;
  border-radius: 10px;
}

.content{
  padding: 0 20px;
}

.title{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color:hsl(218, 44%, 22%) ;
  margin-bottom: 10px;
}

.subtitle{
  text-align: center;
  font-size: 17px;
  color: hsl(220, 15%, 55%);
}


